%div.message-box
  %p.message-box__user-name 
    ああああ 
    %span 2019/05/19(Sun) 15:11:36
  %p.message-box__message テスト
%div.message-box
  %p.message-box__user-name 
    ああああ 
    %span 2019/05/19(Sun) 15:11:36
  %p.message-box__message テスト