%div.message-box{data: {id: message.id}}
  %p.message-box__user-name  
    = message.user.name
    %span 
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.message-box__message 
      = message.content
  =image_tag message.image.url  if message.image.present?