%header グループを作成しました
%div.sidebar
  %div.sidebar-top
    %div.sidebar-top-left
      %p ユーザーネーム
    %div.sidebar-top-right
      = link_to root_path do
        %i.fa.fa-pencil-square-o.sidebar-top-right__awesome
      = link_to root_path do
        %i.fa.fa-cog.sidebar-top-right__awesome
  %div.sidebar-bottom
    %p.sidebar-bottom__group group
    %p.sidebar-bottom__message message
    %p.sidebar-bottom__group group
    %p.sidebar-bottom__message message
%div.main