-# %header グループを作成しました
= render "sidebar"
%div.main
  %div.main-header
    %div.group-label
      %p.group-label__name-label グループ
      %p.group-label__member Member:ああああ
    %div.edit-label
      = link_to root_path do
        %div.edit-label__edit-button EDIT
  %div.main-chat-space
    = render "message-box"
  %div.main-form
    %form.form-space{action: edit_group_path(@group), method: :get}
      %div.form-space-message-area
        %input.form-space-message-area__message{name: "message", type: "text",  placeholder: "type a message"}
        %label.form-space-message-area__image{for: "get-image"}
          %i.fa.fa-picture-o.form-space-message-area__image__awesome
        %input#get-image{type: "file"}
      %input.form-space__button{type: :submit, value: "Send"}
      