.notification {
  .notice {
    background-color: $BlueColor;
    color: $WhiteColor;
    text-align: center;
  }

  .alert {
    background-color: $OrangeColor;
    color: $WhiteColor;
    text-align: center;
  }
}