.main{
  height: 100%;
  width: calc(100vw - 300px);
  float: right;
  .main-header{
    height: 100px;
    width: 100%;
    padding: 0 40px 0 40px;
    border-bottom: solid 1px #eeeeee;
    .group-label{
      float: left;
      &__name-label{
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      };
      &__member{
        font-size: 12px;
        color: $GreyColor;
        margin-top: 15px;
      };
    };
    .edit-label{
      float: right;
      &__edit-button{
        color: $BlueColor;
        line-height: 40px;
        border: solid 1px $BlueColor;
        padding: 0 20px;
        margin-top: 28px;
      };
    };
  };
  .main-chat-space{
    height: calc(100vw - 109px);
    background-color: #fafafa;
    padding: 46px 40px 0 40px;
    .message-box{
      margin-bottom: 40px;
      &__user-name{
        font-size: 16px;
        font-weight: bold;
        color: $BlackColor;
      };
      span{
        font-size: 12px;
        color: $GreyColor;
      };
      &__message{
        font-size: 14px;
        color: $BlackColor;
        margin-top: 10px;
      };
    };
  };
  .main-form{
    height: 80px;
    background-color: grey;
  };
};