.sidebar{
  background-color: #2f3e51;
  height: 100%;
  width: 300px;
  .sidebar-top{
    background-color: #253141;
    height: 100px;
    padding: 35px 20px 35px 20px;
    .sidebar-top-left{
      float: left;
      p{
        color: $WhiteColor;
      };
    };
    .sidebar-top-right{
      float: right;
      .sidebar-top-right__awesome{
        color: $WhiteColor;
      };
    };
  };
};